---
import TitleSubtitle from "../components/Title&Subtitle.astro";

---

<section class="container w-full pt-8 m-auto">
   <TitleSubtitle subtitle="Categorías" title="Nuestros servicios"/>
</section>