---
import Header from "../containers/Header.astro";
import Portada from "../containers/Portada.astro";
import Servicios from "../containers/Servicios.astro";
import Destinos from "../containers/Destinos.astro";
import Nosotros from "../containers/Nosotros.astro";
import Contacto from "../containers/Contacto.astro";
import Footer from "../containers/Footer.astro";
---

<!DOCTYPE html>
<html class="scroll-smooth" lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Culturas y Raíces | Turismo</title>
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap" rel="stylesheet">
   </head>
   <body class="font-fontBody overflow-x-hidden">
      <main>
         <Header />

         <Portada/>

         <Servicios/>

         <Destinos/>

         <Nosotros/>

         <Contacto/>

         <Footer/>
      </main>
   </body>
</html>